<!-- Footer. -->

<footer class="container-fluid text-center">
  <div class="row">
     <div class="col-sm-4">
         <p class="copyright">All content &copy; CopyRight awk888 2016.</p>
     </div>
     <div class="col-sm-4">

     </div>
     <div class="col-sm-4">
         <p>
          <!-- Proudly hosted by -->
          <a href="https://www.github.com" data-toggle="tooltip" title="Proudly hosted by GitHub">
            <i class="fa fa-github-square fa-3x" aria-label="GitHub"></i>
          </a> 
         </p>
     </div>
  </div>
</footer>
