<!-- Footer. -->

<footer class="container-fluid text-center">
  <div class="row">
     <div class="col-sm-4">
         <p class="copyright">All content &copy; CopyRight awk888 2016.</p>
     </div>
     <div class="col-sm-4">

     </div>
     <div class="col-sm-4">
        <p>
          <a href="https://www.github.com" data-toggle="tooltip" title="Proudly hosted by GitHub">
            <i class="fa fa-github-square fa-3x" aria-label="GitHub"></i>
          </a>
          <a href="https://github.com/awk888/awk888.github.io/issues" data-toggle="tooltip" title="Report an issuse.">
            <i class="fa fa-wrench fa-3x" aria-label="Report an issuse."></i>
          </a>
        </p>
     </div>
  </div>
</footer>
