<!-- NavBar. -->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}">{{ site.title }}</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active" data-toggle="tooltip" title="Go to home" data-placement="bottom"><a href="{{ site.baseurl }}">Home</a></li>
        <li data-toggle="tooltip" title="About this site" data-placement="bottom"><a href="#">About</a></li>
        <li data-toggle="tooltip" title="Look at cool images" data-placement="bottom"><a href="#">Gallery</a></li>
        <li data-toggle="tooltip" title="Check out awesome 3D models" data-placement="bottom"><a href="#">3D Models</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://awk888.wordpress.com" target="_blank" data-toggle="tooltip" title="I'm a programmer to" data-placement="bottom">My Programing Site</a></li>
        <li><a href="https://ideas.lego.com/profile/awk888" data-toggle="tooltip" title="Check me out on LEGO Ideas" data-placement="bottom">LEGO Ideas</a></li>
      </ul>
    </div>
  </div>
</nav>
