/* Variables */
$light_blue_color: #4ED9D0;
$jumbotron_background_image: url("https://dp1eoqdp1qht7.cloudfront.net/community/bands/images/2656033-o_1asmfahf5120hg9d751fh0bcud.jpg");
$default_padding: 70px;

@mixin back-image($image, $size: cover, $position: center center) {
  background-image: $image;
  background-size: $size;
  background-position: $position;
}

body {
  background: #EEEEEE;
  color: #777777;
  
  .navbar {
    margin-bottom: 0;
  }
  
  .content-title {
    font-family: 'Raleway', 'Josefin Sans', sans-serif;
  }
  #ideas-projects {
    padding-bottom: $default_padding;
  }
  #subscribe {
    background-color: $light_blue_color;
    color: #FFFFFF;
    padding-top: $default_padding;
    padding-bottom: $default_padding;
  }
  #nonideas-projects {
    padding-top: $default_padding;
    padding-bottom: $default_padding;
  }
}

.jumbotron:not(.project-jumbotron) {
  /* Test Image (Will be replaced later.) */
  @include back-image($jumbotron_background_image, cover, center center);
  /* endcomment */
  height: 400px;
  color: #FFFFFF;
  margin-bottom: 0;
  
  .jumbotron-title {
    font-family: 'Raleway', 'Josefin Sans', sans-serif;
  }
    
  .jumbotron-tagline {
    font-family: 'Josefin Sans', 'Raleway', sans-serif;
  }
}

.jumbotron.project-jumbotron {
  background-color: $light_blue_color;
  height: 400px;
  color: #FFFFFF;
  margin-left: 150px;
  margin-right: 150px;
  
  .jumbotron-title {
    font-family: 'Raleway', 'Josefin Sans', sans-serif;
  }
    
  .jumbotron-tagline {
    font-family: 'Josefin Sans', 'Raleway', sans-serif;
  }
}

.item {
  .carousel-image {
    margin: auto;  
  }
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: $light_blue_color;
  
  @media (max-width: 700px) {
    color: #FFFFFF;  
  }
}
