$light_blue_color: #4ED9D0;

body {
  background: #EEEEEE;
  color: #777777;
  
  .content-title {
    font-family: 'Raleway', 'Josefin Sans', sans-serif;
  }
  #ideas-projects {
    padding-bottom: 70px;
  }
  #subscribe {
    background-color: $light_blue_color;
    color: #FFFFFF;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  #nonideas-projects {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.jumbotron {
  background: url("https://dp1eoqdp1qht7.cloudfront.net/community/bands/images/2656033-o_1asmfahf5120hg9d751fh0bcud.jpg");
  color: #FFFFFF;
  
  .jumbotron-title {
    font-family: 'Raleway', 'Josefin Sans', sans-serif;
  }
    
  .jumbotron-tagline {
    font-family: 'Josefin Sans', 'Raleway', sans-serif;
  }
}

.item {
  .carousel-image {
    margin: auto;  
  }
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: $light_blue_color;
  
  @media (max-width: 700px) {
    color: #FFFFFF;  
  }
}
