body {
  background: #EEEEEE;
  color: #777777;
  
  .content-title {
    font-family: 'Raleway', 'Josefin Sans', sans-serif;
  }
  #ideas-projects {
    padding-bottom: 70px;
  }
  #subscribe {
    background-color:#4ED9D0;
    color: #FFFFFF;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  #nonideas-projects {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.jumbotron {
  background: #4ED9D0;
  color: #FFFFFF;
  
  .jumbotron-title {
    font-family: 'Raleway', 'Josefin Sans', sans-serif;
  }
    
  .jumbotron-tagline {
    font-family: 'Josefin Sans', 'Raleway', sans-serif;
  }
}

.item {
  .carousel-image {
    margin: auto;  
  }
}

